<p>Hello, {{name}}!</p>
<p>fast load (without attestation)</p>
<form action='/' method='get'>
    <input type='submit'></input>
</form>
<p>slow load without attestation</p>
<form action='/slow' method='post' >
    <input id="attestation" name='attestation' type='hidden'></input>
    <input id="nonce" name='nonce' type='hidden' value={{nonce}}></input>
    <input type='button' id='attest_button' value="Attest"></input>
    <input type='submit' id='submit'></input>
</form>
<script>
    const button = document.getElementById('attest_button')
    button.onclick = () => {
        var evt = document.createEvent('Event');
        evt.initEvent('onAttest', true, true);
        var some_element = document.getElementById('attestation');
        some_element.dispatchEvent(evt);
    }
</script>
<!-- <p>slow load with attestation</p>
<form action='/slow' method='get'>
    <input type='submit'></input>
</form> -->